.wrapper {
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.input {
  width: 80%;
  padding: 8px;
}
@media screen and (min-width: 500px) {
  .input {
    width: 430px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    gap: 15px;
  }

  .input {
    font-size: 20px;
    width: 510px;
    padding: 10px;
  }
}
