.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.icon {
  margin-right: 10px;
}

.text {
  text-align: center;
}

.noContacts {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .noContacts,
  .text {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
