.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.icon {
  margin-right: 10px;
}

.text {
  text-align: center;
}

.noContacts {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 45px;
    margin-top: 25px;
  }
  .icon {
    margin-right: 20px;
  }

  .noContacts,
  .text {
    font-size: 25px;
    margin-bottom: 40px;
  }
}
